@import url("reset.css");

/*GLOBAL*/
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: #0C151D;
    color: #FFFFFF;
    line-height: 1;
}
.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-size: 37px;
    text-transform: uppercase;
}

/*HEADER*/
.header {
    padding: 46px 0 47px;
    font-size: 22px;
}
.header-logo{
    float: left;
}
.header-logo,.header-link{
    color: #FFFFFF;
    text-decoration: none;
}
.header-list {
    float: right;
    font-size: 0;
}
.header-item {
    display: inline-block;
    font-size: 22px;
}
.header-item+.header-item {
    margin-left: 40px;
}
/*HERO*/
.hero-content{
    display: inline-block;
    width:100%;
    height:100%;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}
.hero-photo{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.hero-photo img{
    width:205px;
    height:205px;
    padding:0;
    margin:0;
    border-radius:105px;
    overflow: hidden;
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 1px;
    object-fit: cover;
}
.hero-text+.hero-socials+.hero-description+.hero-photo+.socials {
    padding: 40px;
    display:block;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
}
.hero-box{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 23px;
}
.hero-text{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
}
.hero-description{
    display:block;
    text-align: center;
    font-size: 22px;
    padding: 20px 0 0 0
}
.hero-title{
    display:inline-block;
    margin:0;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 500;
}
.hero-socials img{
    display: inline-block;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    padding: 10px 13px;
}
.socials{
    display:block;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    padding: 10px 26px;
}
.hero-socials {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}
.hero-experience{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    margin: 50px 0;
}

.item{
    display:inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    flex: 0 0 150px;

}
.number{
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}
.achievements {
    padding: 20px 0;
    display: inline-block;
    text-align: center;
}
.hero-buttons{
    display:block;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
.hero-button{
    width: 290px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    background: #24A9EB;
    text-align: center;
    border-radius: 10px;
}
.cv{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #0C151D;
}

/*PORTFOLIO*/
.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;}
.portfolio {
    padding: 50px 0 70px;
}
.portfolio-title{
    margin-bottom: 40px;
    text-align: center;
}
.portfolio-cards{
    margin: 0 -15px;
}
.portfolio-card {
    height: 226px;
    width: 33.33334%;
    float: left;
    padding:0 15px ;
    margin-bottom: 30px;

}
.portfolio-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
/*ABOUT ME*/
.about{
    background: #24A9EB;
    color: #0C151D;
}
.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.about-title{
    padding:40px 0 30px;
    font-size: 37px;
    text-align: center;
}
.text{
    text-align: center;
    font-size: 22px;
    horiz-align: center;
    padding-bottom: 40px;
}
/*FOOTER*/
.footer-text{
    padding: 50px 0 51px;
    vertical-align:text-bottom ;
    text-align: center;
}